*{
    padding: 0px; ;
    margin:0px ;
    font-family:sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url( main\ photo.JPG);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: azure;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #f9004d;
}
nav,ul,li{
    list-style-type: none;
    display:inline-block;
    padding: 10px 25px ;
}
nav ul li a{
    color: azure;
    text-decoration: none;
    font-weight: bold;
    text-transform:capitalize;
}
nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
}
.btn{
    background-color: #f9004d;
    color:white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.content{
    position: absolute;
    top: 50px;
    left: 8%;
    transform: translateY(100%)
}
h1{
    color: azure;
    margin: 20px o px 20px ;
    font-size: 75px;
}
h3{
color: azure;
font-size: 25px;
margin-bottom: 50px;
}
h4{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}
newslatter,form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
newslatter,form,input:first-child{
    display: inline-block;
    width: 75%;
    padding:  10px;
    border: 2px solid crimson;
    outline: none;
    border-radius: 30px;
    
}
newslatter,form,input:last-child{
    position:absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px ;
    border: radius 30px; 
    background-color: #f9004d;
    color: azure;}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{
    height: 50pc;
    width:auto;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: auto;
display: flex;
align-items: center;
justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
 h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: #f9004d;
    
    border: 2px solid;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    border-color: #f9004d;
    transition-duration: .4s;
    color: white;
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.contact-me{
    width:100%;
    height:290px;
    background:#191919;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
}
.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact-me .button-two{
    background-color: #f9004d;
    color:white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition-duration: 0.4s;
    cursor: pointer;

}
.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;

}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
    color: #f7f3f4;
    bottom: 35px;
    font-size: 14px;
}